.deps
.libs
*.dirstamp
*.log
*.o
*.cmd
*.lo
*.d
*.depend
*.pc
*.spec
*.P
*.S
*.[oa]
*.l[oa]
*.so
*.so.*
*.dylib
*.lineno
*.py[co]
*.ver
*.rej
*.orig
*.bak
*.class
*.0
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
config.log
config.guess
config.status
config.sub
config.cache
tools/filelist
opt/tools/trx
src/router/arm-uclibc
busybox
kernel_headers
_staging
